:root {
    --color-black: #000;
    --color-grey-100: #ccc;
    --color-grey-200: #888;
    --color-grey-300: #555;
    --color-grey-400: #1a1a1a;
    --color-white: #fff;
    --color-ivory: #faf7dc;
    --color-ocher: #cbb687;
    --color-light-ocher: #e5dcb7;
    --color-mid-ocher: #b99f65;
    --color-dark-ocher: #756950;
    --color-light-green: #49d59c;
    /* --color-green: #1f5d50; */
    --color-green: #216444;

    --color-dark-green: #18473d;
    --color-brown: #2c2422;

    --font-body: "Lora", serif;
    --font-heading: the_wild_breath_of_zeldaRg, serif;
    --font-weight-regular: 400;
    --font-weight-bold: 500;
    --font-weight-lora-medium: 500;
    font-size: 100%;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}




@font-face {
    font-family: 'the_wild_breath_of_zeldaRg';
    src: url('assets/fonts/the_wild_breath_of_zelda-webfont.woff2') format('woff2'),
         url('assets/fonts/the_wild_breath_of_zelda-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    background-color: var(--color-ivory);
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  @media (min-aspect-ratio: 1/1) {
    body {
      max-width: 640px; /* or any other value */
      margin: 20px auto; /* add margins on the sides */
    }
  }
.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 5px solid var(--color-dark-green);
    background-color: var(--color-green);
    border-radius: 10px;
    box-sizing: border-box;


    
}
.header-left{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.header-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.header-button{
    background-color: var(--color-mid-ocher);
    border: 3px solid var(--color-dark-ocher);
    border-radius: 10px;
    padding: 5px 50px;
    height:fit-content ;
    font-family: var(--font-heading);
    font-size: 1.5em;
    color: var(--color-dark-ocher);
    margin: 10px;
    
}
.header-button:hover{
    background-color: var(--color-dark-ocher);
    color: var(--color-mid-ocher);
    border-color: var(--color-mid-ocher);
}
.title{
    font-size: 2em;
    font-family: var(--font-heading);
    color: var(--color-grey-400);
    text-align: center;
    margin-left: 10px;
}


.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5px;
    left: 5px;

    z-index: 1;
    transition: 0.5s;
    padding: 10px;

}
.menu-button{
 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--color-mid-ocher);
    border: 3px solid var(--color-dark-ocher);
    z-index: 2;
    margin: 5px;
    font-family: var(--font-heading);
    font-size: 1.5em;
    color: var(--color-dark-ocher);


}
.menu-button:hover{
    background-color: var(--color-dark-ocher);
    border: 3px solid var(--color-mid-ocher);
    color: var(--color-mid-ocher);
}
.menu-button-img{
    flex: 1;
    max-width: 80%; 
    max-height: 80%; 
    object-fit: contain;
    filter: invert(44%) sepia(4%) saturate(2578%) hue-rotate(2deg) brightness(91%) contrast(89%);
    
}

.menu-button:hover .menu-button-img{
    filter: invert(68%) sepia(32%) saturate(471%) hue-rotate(3deg) brightness(88%) contrast(89%);    
}
.menu-hidden-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}
.hidden-button{
    position: relative;
    top: calc(var(--index)*60px);
    transition: 0.25s;
    opacity: 1;
    pointer-events: none;
}

.visible-button{
    position: relative;
    top: 0px;
    transition: 0.25s;
    opacity: 1;
    pointer-events: all;

}
.nth-child-1{
--index: 1;
}
.nth-child-2{
--index: 2;
}



.popup-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.popup{
    background-color: var(--color-ivory);
    border: 5px solid var(--color-dark-ocher);
    border-radius: 10px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-heading);
    align-items: top;
}
.popup-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: var(--color-green);
    border-radius: 5px;
}
.popup-body{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    padding: 10px;
}
.popup-left{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    height: 100%;
    gap: 5px;    
}
.popup-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    gap: 5px;
}
.input{
    border: 3px solid var(--color-dark-ocher);
    border-radius: 10px;
    padding: 5px;
    font-family: var(--font-heading);
    font-size: 1.5em;
    color: var(--color-dark-ocher);
    
}
.input-description{

    width: 300px;
    height: 150px;
    vertical-align: top;
    padding-top: 0;
}

.popup-footer{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    justify-content: center;
}

.task-list{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border-radius: 5px;
    border: 5px solid var(--color-dark-ocher);
    background-color: var(--color-mid-ocher);
    margin: 10px;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius:10px;
    border: 5px solid var(--color-dark-ocher);
    background-color: var(--color-mid-ocher);
}
  
.task-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-green);
    border-radius: 5px;

}
  
.task-title {
    font-size: 2em;
    font-family: var(--font-heading);
    color: var(--color-grey-400);
    text-align: left;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
}
.task-description {
    font-size: 1em;
    font-family: var(--font-body);
    color: var(--color-brown);
    text-align: center;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}
.expanded {
    overflow-wrap: break-word;
    white-space: normal;
    height: fit-content;
} 

.task-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}
.task-body>* {
    margin: 10px;
}

  
.task-countdown {
    font-size: 1.2em;
    font-family: var(--font-heading);
    color: var(--color-grey-400);
    padding-right: 10px;
}
  
.user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

  



